html,
body,
#root,
.app {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: none;
}
.dib {
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 100;
	overflow-y: none;
}
.bid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.bid h1 {
	font-family: Chronicle Display;
	font-style: normal;
	font-weight: 500;
	color: #fff;
	font-size: 7vw;
}
.bid img {
	cursor: pointer;
}
.cows {
	width: 90vw;
	height: 70vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	flex-wrap: wrap;
}

.asas {
	width: 25vw;
	/* height: auto; */
	display: flex;
	/* flex-direction: column; */
	justify-content: space-around;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.555);
	box-shadow: 3px 1px 38px -12px #00000094;
	border-radius: 28px;
	backdrop-filter: blur(50px);
}
.btn {
	padding: 1%;
	background-color: rgba(255, 255, 255, 0.74);
	box-shadow: 3px 1px 38px -12px #00000094;
	border-radius: 28px;
	backdrop-filter: blur(50px);
	position: relative;
	transform: translateX(-50%);
	left: 50%;
	cursor: pointer;
}
